In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('co2_emissions (1).csv',sep=';')
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS,Z,12.1,8.7,10.6,27,244

In [ ]:
df.shape

(7385, 12)

In [ ]:
cat_col=[]
for i in df.columns:
  if df[i].dtype == 'object':
    cat_col.append(i)
cat_col

['make', 'model', 'vehicle_class', 'transmission', 'fuel_type']

In [ ]:
for i in cat_col:
  df[i]=df[i].apply(lambda x:x.lower())

In [ ]:
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,acura,ilx,compact,2.0,4,as,z,9.9,6.7,8.5,33,196
1,acura,ilx,compact,2.4,4,m,z,11.2,7.7,9.6,29,221
2,acura,ilx hybrid,compact,1.5,4,av,z,6.0,5.8,5.9,48,136
3,acura,mdx 4wd,suv - small,3.5,6,as,z,12.7,9.1,11.1,25,255
4,acura,rdx awd,suv - small,3.5,6,as,z,12.1,8.7,10.6,27,244

In [ ]:
df.drop(['make','model','vehicle_class'],axis=1,inplace=True)

In [ ]:
df.drop_duplicates(inplace=True) 
df.shape

(4532, 9)

In [ ]:
df['transmission'].value_counts()

as    2062
a      974
m      721
av     402
am     373
Name: transmission, dtype: int64

In [ ]:
df['fuel_type'].value_counts()

x    2345
z    1847
e     231
d     108
n       1
Name: fuel_type, dtype: int64

In [ ]:
#transmission, "A" for`Automatic', "AM" for ``Automated manual', "AS" for 'Automatic with select shift', "AV" for 'Continuously variable', "M" for 'Manual'.
#fuel_type, "X" for 'Regular gasoline', "Z" for 'Premium gasoline', "D" for 'Diesel', "E" for 'Ethanol (E85)', "N" for 'Natural gas'.

In [ ]:
df['transmission']=df['transmission'].map({"a":"Automatic",'am':'Automated manual','as':'Automatic with select shift','av':'Continuously variable','m':'Manual'})
df['fuel_type']=df['fuel_type'].map({"x":"Regular gasoline",'z':'Premium gasoline','d':'Diesel','e':'Ethanol (E85)','n':'Natural gas'})

In [ ]:
df.head()

,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,2.0,4,Automatic with select shift,Premium gasoline,9.9,6.7,8.5,33,196
1,2.4,4,Manual,Premium gasoline,11.2,7.7,9.6,29,221
2,1.5,4,Continuously variable,Premium gasoline,6.0,5.8,5.9,48,136
3,3.5,6,Automatic with select shift,Premium gasoline,12.7,9.1,11.1,25,255
4,3.5,6,Automatic with select shift,Premium gasoline,12.1,8.7,10.6,27,244

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4532 entries, 0 to 7384
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   engine_size                     4532 non-null   float64
 1   cylinders                       4532 non-null   int64
 2   transmission                    4532 non-null   object
 3   fuel_type                       4532 non-null   object
 4   fuel_consumption_city           4532 non-null   float64
 5   fuel_consumption_hwy            4532 non-null   float64
 6   fuel_consumption_comb(l/100km)  4532 non-null   float64
 7   fuel_consumption_comb(mpg)      4532 non-null   int64
 8   co2_emissions                   4532 non-null   int64
dtypes: float64(4), int64(3), object(2)
memory usage: 354.1+ KB

In [ ]:
df.corr()['co2_emissions']

engine_size                       0.845287
cylinders                         0.824823
fuel_consumption_city             0.921330
fuel_consumption_hwy              0.886953
fuel_consumption_comb(l/100km)    0.920384
fuel_consumption_comb(mpg)       -0.904799
co2_emissions                     1.000000
Name: co2_emissions, dtype: float64

In [ ]:
df.drop('fuel_consumption_comb(mpg)',axis=1,inplace=True)

In [ ]:
df.sample(5)

,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),co2_emissions
755,5.5,8,Automatic with select shift,Premium gasoline,15.5,11.0,13.5,310
6975,2.0,4,Continuously variable,Premium gasoline,10.8,8.3,9.7,228
3661,5.0,8,Automatic with select shift,Regular gasoline,15.4,10.6,13.2,310
1484,3.5,6,Automatic with select shift,Regular gasoline,14.6,10.4,12.8,294
2896,4.6,8,Automatic with select shift,Premium gasoline,15.7,11.7,13.9,322

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score

In [ ]:
x=df.drop('co2_emissions',axis=1)
y=df['co2_emissions']

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=7)

In [ ]:
x_train

,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km)
6447,2.5,4,Continuously variable,Regular gasoline,5.8,6.3,6.0
6914,1.5,4,Manual,Premium gasoline,8.9,6.4,7.8
6790,2.3,4,Automatic with select shift,Regular gasoline,11.6,8.7,10.3
2385,3.6,6,Automatic with select shift,Regular gasoline,12.8,8.7,11.0
5047,5.0,8,Automatic with select shift,Premium gasoline,14.7,9.2,12.2
...,...,...,...,...,...,...,...
1462,3.5,6,Automatic with select shift,Regular gasoline,14.9,10.7,13.0
4120,2.0,4,Manual,Premium gasoline,10.8,7.7,9.4
6674,2.5,4,Automatic,Regular gasoline,11.3,8.9,10.2
6015,1.3,4,Automatic,Regular gasoline,10.8,8.7,9.9
5669,1.4,4,Manual,Regular gasoline,8.0,6.2,7.2

In [ ]:
x_train['engine_size'].unique()

array([1.8, 3. , 2. , 5.3, 3.3, 2.5, 4. , 3.5, 5.7, 2.4, 5.4, 1.5, 5.8,
       6.2, 5.5, 2.7, 1.4, 4.4, 1.6, 3.6, 6.8, 3.7, 4.8, 2.3, 4.3, 5.6,
       3.8, 3.2, 4.7, 5.2, 6.3, 2.8, 5. , 6.5, 3.4, 6. , 2.1, 1.2, 2.9,
       6.7, 6.6, 4.6, 6.4, 4.2, 1. , 1.3, 0.9, 8.4, 2.2, 5.9])

In [ ]:
#OneHotEncoder on categorical column
p1=ColumnTransformer(transformers=[
                         ('t1',OneHotEncoder(drop='first',sparse=False,handle_unknown='ignore'),[2,3]),
                                 
],remainder='passthrough')


#MinMaxScaler on all the columns
# p2=ColumnTransformer(transformers=[
#                          ('t2',MinMaxScaler(),slice(0,10))  ,
# ],remainder='passthrough')


#model
p3=GradientBoostingRegressor()

#Creating pipeline
pipe=Pipeline([
               ('p1',p1),
              #  ('p2',p2),
               ('p3',p3)
])

#Model training and finding the accuracy
pipe.fit(x_train,y_train)
pred=pipe.predict(x_test)
GB_acc=r2_score(y_test,pred)
print('GB Accuracy ',GB_acc)

GB Accuracy  0.9947643472831104

In [ ]:
pred_train=pipe.predict(x_train)
r2_score(y_train,pred_train)

0.9957542899468883

In [ ]:
import pickle

pickle.dump(df,open('df.pkl','wb'))
pickle.dump(pipe,open('pipe.pkl','wb'))

In [ ]:
df.columns

Index(['engine_size', 'cylinders', 'transmission', 'fuel_type',
       'fuel_consumption_city', 'fuel_consumption_hwy',
       'fuel_consumption_comb(l/100km)', 'co2_emissions'],
      dtype='object')

In [ ]:
df['cylinders'].unique().sort()

In [ ]:
sorted(df['cylinders'].unique().tolist())

In [ ]:
sorted(df['transmission'].unique())

In [ ]:
df