In [49]:
import pandas as pd
import streamlit as st
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [50]:
data=pd.read_csv("co2modify.csv")

In [51]:
data

,Unnamed: 0,vehicle_class,engine,cyl,transmission,fuel_type,fuel_city,fuel_hwy,fuel_combo,fuel_mpg,co2_emissions
0,0,0,2.0,4,2,4,9.9,6.7,8.5,33,196
1,3,11,3.5,6,2,4,12.7,9.1,11.1,25,255
2,4,11,3.5,6,2,4,12.1,8.7,10.6,27,244
3,5,2,3.5,6,2,4,11.9,7.7,10.0,28,230
4,6,2,3.5,6,2,4,11.8,8.1,10.1,28,232
...,...,...,...,...,...,...,...,...,...,...,...
4449,7380,11,2.0,4,2,4,10.7,7.7,9.4,30,219
4450,7381,11,2.0,4,2,4,11.2,8.3,9.9,29,232
4451,7382,11,2.0,4,2,4,11.7,8.6,10.3,27,240
4452,7383,12,2.0,4,2,4,11.2,8.3,9.9,29,232
4453,7384,12,2.0,4,2,4,12.2,8.7,10.7,26,248

In [52]:
data=data.drop("Unnamed: 0",axis=1)

In [53]:
array = data.values
X = array[:,0:9]
Y = array[:,9]

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=10)

In [55]:
model = RandomForestRegressor()

In [56]:
model.fit(X_train,Y_train)

RandomForestRegressor()

In [57]:
model_pred=model.predict(X_test)

In [58]:
model_accuracy_RF=r2_score(Y_test,model_pred)
print('Random Forest: ',model_accuracy_RF)

Random Forest:  0.9950472283780353